<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{/layout/loginlayout}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript">

	</script>
</th:block>

<div layout:fragment="content" class="login-wrap">
	<form th:action="@{/login}" method="post">
		<h1 >로그인</h1>
		<input type="text" title="아이디 입력" placeholder="아이디" name="username">
		<input type="password" title="비밀번호 입력" placeholder="비밀번호" name="password">
		<div><input type="submit" value="로그인"/></div>
		<div th:if="${param.error}">
			아이디 또는 비밀번호가 잘못되었습니다.
		</div>
	</form>
</div>

</html>